<template>
  <TextBox position="left" :text="$t('earth.description')"
  :title="$t('earth.title')" background-color="transparent" text-color="white" width="40%" buttonUrl="/particles" :buttonText="$t('earth.button')"></TextBox>
  <TextBulle :text="$t('earth.bubble')"></TextBulle>
</template>

<script setup>
import * as THREE from "https://cdn.skypack.dev/three@0.133.1/build/three.module";
import {OrbitControls} from "https://unpkg.com/three@0.112/examples/jsm/controls/OrbitControls.js";
import {onMounted} from "vue";
import TextBox from "../TextBox.vue";
import TextBulle from "../TextBulle.vue";

onMounted(() => {
  // Scene, Camera, Renderer
  let renderer = new THREE.WebGLRenderer();
  let scene = new THREE.Scene();
  let aspect = window.innerWidth / window.innerHeight;
  let camera = new THREE.PerspectiveCamera(80, aspect, 0.1, 1500);
  let cameraAutoRotation = false;
  let orbitControls = new OrbitControls(camera, renderer.domElement);
  let figure;

  // character creation

  const degreesToRadians = (degrees) => {
    return degrees * (Math.PI / 180)
  }

  class Figure {
    constructor(x, y, z, ry) {
      this.body = new THREE.Group()
      this.body.position.set(x, y, z)
      this.body.rotation.y = ry
      scene.add(this.body)
    }

    createBody() {
      const material = new THREE.MeshLambertMaterial({color: 0x59b571})
      const geometry = new THREE.BoxGeometry(0.25, 0.375, 0.25)
      const body = new THREE.Mesh(geometry, material)
      this.body.add(body)
    }

    createEyes() {
      const eyes = new THREE.Group()
      const geometry = new THREE.SphereGeometry(0.0375, 12, 8)

      // Define the eye material
      const material = new THREE.MeshLambertMaterial({color: 0x44445c})

      for (let i = 0; i < 2; i++) {
        const eye = new THREE.Mesh(geometry, material)
        const m = i % 2 === 0 ? 1 : -1

        // Add the eye to the group
        eyes.add(eye)

        // Position the eye
        eye.position.x = 0.09 * m
      }

      this.head.add(eyes)
      eyes.position.z = 0.175
    }

    createHead() {
      this.head = new THREE.Group()
      const material = new THREE.MeshLambertMaterial({color: 0xfcd8b1})

      // Create the main cube of the head and add to the group
      const geometry = new THREE.BoxGeometry(0.35, 0.35, 0.35)
      const headMain = new THREE.Mesh(geometry, material)
      this.head.add(headMain)

      // Add the head group to the figure
      this.body.add(this.head)

      // Position the head group
      this.head.position.y = 0.4125

      // Add the eyes by calling the function we already made
      this.createEyes()
    }

    createLegs() {
      const material = new THREE.MeshLambertMaterial({color: 0xfcd8b1})
      const legs = new THREE.Group()
      const geometry = new THREE.BoxGeometry(0.0625, 0.2, 0.25)

      for (let i = 0; i < 2; i++) {
        const leg = new THREE.Mesh(geometry, material)
        const m = i % 2 === 0 ? 1 : -1

        legs.add(leg)
        leg.position.x = m * 0.055
      }

      this.body.add(legs)
      legs.position.y = -0.2875
    }

    createArms() {
      const material = new THREE.MeshLambertMaterial({color: 0xfcd8b1})
      for (let i = 0; i < 2; i++) {
        const geometry = new THREE.BoxGeometry(0.0625, 0.25, 0.0625)
        const arm = new THREE.Mesh(geometry, material)
        const m = i % 2 === 0 ? 1 : -1

        this.body.add(arm)

        arm.position.x = m * 0.2
        arm.position.y = 0.025
        arm.rotation.z = degreesToRadians(30 * m)
      }
    }

    lookAt(position) {
      this.body.lookAt(position)
    }

    init() {
      this.createBody()
      this.createHead()
      this.createArms()
      this.createLegs()
    }
  }

  figure = new Figure(1, 0, 0)
  figure.init()

// Lights
  let spotLight = new THREE.SpotLight(0xffebc2, 2, 0, 2, 2);

// Texture Loader
  let textureLoader = new THREE.TextureLoader();

// Planet Proto
  let planetProto = {
    sphere: function (size) {
      let sphere = new THREE.SphereGeometry(size, 32, 32);

      return sphere;
    },
    material: function (options) {
      let material = new THREE.MeshPhongMaterial();
      if (options) {
        for (var property in options) {
          material[property] = options[property];
        }
      }

      return material;
    },
    glowMaterial: function (intensity, fade, color) {
      // Custom glow shader from https://github.com/stemkoski/stemkoski.github.com/tree/master/Three.js
      let glowMaterial = new THREE.ShaderMaterial({
        uniforms: {
          'c': {
            type: 'f',
            value: intensity
          },
          'p': {
            type: 'f',
            value: fade
          },
          glowColor: {
            type: 'c',
            value: new THREE.Color(color)
          },
          viewVector: {
            type: 'v3',
            value: camera.position
          }
        },
        vertexShader: `
        uniform vec3 viewVector;
        uniform float c;
        uniform float p;
        varying float intensity;
        void main() {
          vec3 vNormal = normalize( normalMatrix * normal );
          vec3 vNormel = normalize( normalMatrix * viewVector );
          intensity = pow( c - dot(vNormal, vNormel), p );
          gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
        }`
        ,
        fragmentShader: `
        uniform vec3 glowColor;
        varying float intensity;
        void main()
        {
          vec3 glow = glowColor * intensity;
          gl_FragColor = vec4( glow, 1.0 );
        }`
        ,
        side: THREE.BackSide,
        blending: THREE.AdditiveBlending,
        transparent: true
      });

      return glowMaterial;
    },
    texture: function (material, property, uri) {
      let textureLoader = new THREE.TextureLoader();
      textureLoader.crossOrigin = true;
      textureLoader.load(
          uri,
          function (texture) {
            material[property] = texture;
            material.needsUpdate = true;
          }
      );
    }
  };

  let createPlanet = function (options) {
    // Create the planet's Surface
    let surfaceGeometry = planetProto.sphere(options.surface.size);
    let surfaceMaterial = planetProto.material(options.surface.material);
    let surface = new THREE.Mesh(surfaceGeometry, surfaceMaterial);

    // Create the planet's Atmosphere
    let atmosphereGeometry = planetProto.sphere(options.surface.size + options.atmosphere.size);
    let atmosphereMaterialDefaults = {
      side: THREE.DoubleSide,
      transparent: true
    }
    let atmosphereMaterialOptions = Object.assign(atmosphereMaterialDefaults, options.atmosphere.material);
    let atmosphereMaterial = planetProto.material(atmosphereMaterialOptions);
    let atmosphere = new THREE.Mesh(atmosphereGeometry, atmosphereMaterial);

    // Create the planet's Atmospheric glow
    let atmosphericGlowGeometry = planetProto.sphere(options.surface.size + options.atmosphere.size + options.atmosphere.glow.size);
    let atmosphericGlowMaterial = planetProto.glowMaterial(options.atmosphere.glow.intensity, options.atmosphere.glow.fade, options.atmosphere.glow.color);
    let atmosphericGlow = new THREE.Mesh(atmosphericGlowGeometry, atmosphericGlowMaterial);

    // Nest the planet's Surface and Atmosphere into a planet object
    let planet = new THREE.Object3D();
    surface.name = 'surface';
    atmosphere.name = 'atmosphere';
    atmosphericGlow.name = 'atmosphericGlow';
    planet.add(surface);
    planet.add(atmosphere);
    planet.add(atmosphericGlow);

    // Load the Surface's textures
    for (let textureProperty in options.surface.textures) {
      planetProto.texture(
          surfaceMaterial,
          textureProperty,
          options.surface.textures[textureProperty]
      );
    }

    // Load the Atmosphere's texture
    for (let textureProperty in options.atmosphere.textures) {
      planetProto.texture(
          atmosphereMaterial,
          textureProperty,
          options.atmosphere.textures[textureProperty]
      );
    }

    return planet;
  };

  let earth = createPlanet({
    surface: {
      size: 0.5,
      material: {
        bumpScale: 0.05,
        specular: new THREE.Color('grey'),
        shininess: 10
      },
      textures: {
        map: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/141228/earthmap1k.jpg',
        bumpMap: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/141228/earthbump1k.jpg',
        specularMap: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/141228/earthspec1k.jpg'
      }
    },
    atmosphere: {
      size: 0.003,
      material: {
        opacity: 0.8
      },
      textures: {
        map: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/141228/earthcloudmap.jpg',
        alphaMap: 'https://s3-us-west-2.amazonaws.com/s.cdpn.io/141228/earthcloudmaptrans.jpg'
      },
      glow: {
        size: 0.02,
        intensity: 0.7,
        fade: 7,
        color: 0x93cfef
      }
    },
  });

// Marker Proto
  let markerProto = {
    latLongToVector3: function latLongToVector3(latitude, longitude, radius, height) {
      var phi = (latitude) * Math.PI / 180;
      var theta = (longitude - 180) * Math.PI / 180;

      var x = -(radius + height) * Math.cos(phi) * Math.cos(theta);
      var y = (radius + height) * Math.sin(phi);
      var z = (radius + height) * Math.cos(phi) * Math.sin(theta);

      return new THREE.Vector3(x, y, z);
    },
    marker: function marker(size, color, vector3Position) {
      let markerGeometry = new THREE.SphereGeometry(size);
      let markerMaterial = new THREE.MeshLambertMaterial({
        color: color
      });
      let markerMesh = new THREE.Mesh(markerGeometry, markerMaterial);
      markerMesh.position.copy(vector3Position);

      return markerMesh;
    }
  }

// Place Marker
  let placeMarker = function (object, options) {
    let position = markerProto.latLongToVector3(options.latitude, options.longitude, options.radius, options.height);
    let marker = markerProto.marker(options.size, options.color, position);
    object.add(marker);
  }

// Place Marker At Address
  let placeMarkerAtAddress = function (address, color) {
    let encodedLocation = address.replace(/\s/g, '+');
    let httpRequest = new XMLHttpRequest();

    httpRequest.open('GET', 'https://maps.googleapis.com/maps/api/geocode/json?address=' + encodedLocation);
    httpRequest.send(null);
    httpRequest.onreadystatechange = function () {
      if (httpRequest.readyState == 4 && httpRequest.status == 200) {
        let result = JSON.parse(httpRequest.responseText);

        if (result.results.length > 0) {
          let latitude = result.results[0].geometry.location.lat;
          let longitude = result.results[0].geometry.location.lng;

          placeMarker(earth.getObjectByName('surface'), {
            latitude: latitude,
            longitude: longitude,
            radius: 0.5,
            height: 0,
            size: 0.01,
            color: color,
          });
        }
      }
    };
  }

// Galaxy
  let galaxyGeometry = new THREE.SphereGeometry(100, 32, 32);
  let galaxyMaterial = new THREE.MeshBasicMaterial({
    side: THREE.BackSide
  });
  let galaxy = new THREE.Mesh(galaxyGeometry, galaxyMaterial);

// Load Galaxy Textures
  textureLoader.crossOrigin = true;
  textureLoader.load(
      'https://s3-us-west-2.amazonaws.com/s.cdpn.io/141228/starfield.png',
      function (texture) {
        galaxyMaterial.map = texture;
        scene.add(galaxy);
      }
  );

// Scene, Camera, Renderer Configuration
  renderer.setSize(window.innerWidth, window.innerHeight);
  document.body.appendChild(renderer.domElement);

  camera.position.set(1, 1, 1);
  orbitControls.enabled = !cameraAutoRotation;

  scene.add(camera);
  scene.add(spotLight);
  scene.add(earth);

// Light Configurations
  spotLight.position.set(2, 0, 1);

// Mesh Configurations
  earth.receiveShadow = true;
  earth.castShadow = true;
  earth.getObjectByName('surface').geometry.center();

// On window resize, adjust camera aspect ratio and renderer size
  window.addEventListener('resize', function () {
    camera.aspect = window.innerWidth / window.innerHeight;
    camera.updateProjectionMatrix();
    renderer.setSize(window.innerWidth, window.innerHeight);
  });

// Main render function
  let render = function () {
    earth.getObjectByName('surface').rotation.y += 1 / 32 * 0.1;
    earth.getObjectByName('atmosphere').rotation.y += 1 / 16 * 0.1;
    camera.position.y = 0;
    camera.position.x = 2 * Math.sin(0);
    camera.position.z = 2 * Math.cos(0);
    camera.lookAt(earth.position);
    figure.lookAt(camera.position)
    requestAnimationFrame(render);
    renderer.render(scene, camera);
  };

  render();

})


</script>

<style scoped>
.text-box-content {
  width: 40% !important;
}
</style>
