<script setup>
import Header from '../components/Header.vue'
import Footer from '../components/Footer.vue'
</script>

<template>

<Header/>
  <img src="../../public/logo_reseau.png" alt="" style="transform: translate(-50%,-50%);
    margin-left: 50%;
    margin-top: 12%;
    margin-bottom: -10%;">
<h1 style="text-align: center">{{ $t('about.title') }}</h1>
  <h2>{{ $t('about.sections[0]') }}</h2>
  <p>{{ $t('about.sections[0][0]') }}</p>
  <p>{{ $t('about.sections[0][1]') }}</p>
  <p>{{ $t('about.sections[0][2]') }}</p>
<h2>{{ $t('about.sections[1]') }}</h2>
  <p>{{ $t('about.sections[1][0]') }}</p>
  <p>{{ $t('about.sections[1][1]') }}</p>
  <p>{{ $t('about.sections[1][2]') }}</p>
  <p>{{ $t('about.sections[1][3]') }}</p>
  <h2>{{ $t('about.sections[2]') }}</h2>
  <section style="width: 100%; text-align: center">
    <button >
      <router-link to="/contact" style="text-decoration: none; color: white">{{ $t('about.contact') }}</router-link>
    </button>
  </section>
  <Footer/>
</template>


<style scoped>

</style>