<template>
  <div>
    <p>{{$t('chatbox.joke')}}</p>
    <p class="test"></p>
  </div>

  <img alt="Vue logo" src="../assets/arbres-gif-058.gif">
  <div id="climateInfo">
    <div v-for="(paragraph, index) in paragraphs" :key="index" class="paragraph" :style="paragraphStyle">
      <p :style="cssStyles">{{ paragraph }}</p>
    </div>
    <p>{{$t('chatbox.source')}}</p>
  </div>
</template>

<script setup>
import useGPTResult from "../composables/useGPTResult.js";
import { onMounted } from "vue";
import { i18n } from "../main.js";

const t = i18n.global.t

const jokePrompt = "Génère une blague en lien avec l'environnement. Tu as le droit de faire des blagues noires ;)";
const colorPrompt = "random hexadecimal color. Don't reply any text, just the color.";
const cssPrompt = "create a random css for this elements. The purpose of the css is to be fucked up and really funny: div , .test, img, img:hover,   #climateInfo,   .paragraph,   p:last-child";

const { results, callGPT } = useGPTResult(jokePrompt, colorPrompt, cssPrompt);

onMounted(async () => {
  await callGPT();
  document.body.style.backgroundColor = results.value[1].result.content;
  document.querySelector(".test").innerHTML = results.value[0].result.content;

  // Create a style tag and append it to the head
  const styleTag = document.createElement("style");
  styleTag.innerHTML = results.value[2].result.content;
  document.head.appendChild(styleTag);
});

const paragraphs = [
    t('chatbox.paragraphs[0]'),
    t('chatbox.paragraphs[1]'),
    t('chatbox.paragraphs[2]'),
    t('chatbox.paragraphs[3]'),
    t('chatbox.paragraphs[4]'),
    t('chatbox.paragraphs[5]'),
  ]


const cssStyles = {
  backgroundColor: 'lightblue',
  color: 'darkblue',
  fontWeight: 'bold',
  textDecoration: 'underline',
  fontFamily: 'Arial, sans-serif'
};

const paragraphStyle = {
  margin: '20px 0',
  padding: '10px',
  borderRadius: '5px',
  position: 'relative',
  left: '20px',
  top: '10px',
  boxShadow: '2px 2px 5px rgba(0, 0, 0, 0.2)',
  transition: 'all 0.3s ease'
};
</script>
