<script setup>
import Header from "../components/Header.vue";
import Footer from "../components/Footer.vue";

</script>

<template>
  <Header />
  <h1 style="text-align: center">{{$t('contact.title')}}</h1>
  <h2>{{$t('contact.links[0]')}}</h2>
  <section style="width: 100%; text-align: center">
    <button>
      <a href="https://reseauactionclimat.org/contact/" style="text-decoration: none; color: white">{{$t('contact.refs[0]')}}</a>
    </button>
  </section>
  <h2>{{$t('contact.links[1]')}}</h2>
  <section style="width: 100%; text-align: center">
    <button>
      <a href="tel:+148588392" style="text-decoration: none; color: white">{{$t('contact.refs[1]')}}</a>
    </button>
  </section>

  <Footer />
</template>



<style scoped>

</style>