<script setup>
import { i18n } from "../main.js";
import { ref, computed } from 'vue'
import Footer from "../components/Footer.vue";
import Header from "../components/Header.vue";

const t = i18n.global.t

const questions = ref([
  {
    question: t('quizz.questions.list[0].question'),
    answer: 1,
    options: [
      t('quizz.questions.answersType.true'),
      t('quizz.questions.answersType.false')
    ],
    selected: null,
    justificatif: t('quizz.questions.list[0].proof'),
  },
  {
    question: t('quizz.questions.list[1].question'),
    answer: 1,
    options: [
      t('quizz.questions.answersType.true'),
      t('quizz.questions.answersType.false')
    ],
    selected: null,
    justificatif: t('quizz.questions.list[1].proof'),
  },
  {
    question: t('quizz.questions.list[2].question'),
    answer: 1,
    options: [
      t('quizz.questions.answersType.true'),
      t('quizz.questions.answersType.false')
    ],
    selected: null,
    justificatif: t('quizz.questions.list[2].proof'),
  },
  {
    question: t('quizz.questions.list[3].question'),
    answer: 1,
    options: [
      t('quizz.questions.answersType.true'),
      t('quizz.questions.answersType.false')
    ],
    selected: null,
    justificatif: t('quizz.questions.list[3].proof'),
  },
  {
    question: t('quizz.questions.list[4].question'),
    answer: 2,
    options: [
      t('quizz.questions.answersType.true'),
      t('quizz.questions.answersType.false'),
      t('quizz.questions.answersType.both')
    ],
    selected: null,
    justificatif: t('quizz.questions.list[4].proof'),
  },
  {
    question: t('quizz.questions.list[5].question'),
    answer: 2,
    options: [
      t('quizz.questions.answersType.true'),
      t('quizz.questions.answersType.false'),
      t('quizz.questions.answersType.both')
    ],
    selected: null,
    justificatif: t('quizz.questions.list[5].proof'),
  },
  {
    question: t('quizz.questions.list[6].question'),
    answer: 2,
    options: [
      t('quizz.questions.answersType.true'),
      t('quizz.questions.answersType.false'),
      t('quizz.questions.answersType.both')
    ],
    selected: null,
    justificatif: t('quizz.questions.list[6].proof'),
  },
  {
    question: t('quizz.questions.list[7].question'),
    answer: 1,
    options: [
      t('quizz.questions.answersType.true'),
      t('quizz.questions.answersType.false'),
      t('quizz.questions.answersType.both')
    ],
    selected: null,
    justificatif: t('quizz.questions.list[7].proof'),
  },
])

const quizCompleted = ref(false)
const currentQuestion = ref(0)
const score = computed(() => {
  let value = 0
  questions.value.map(q => {
    if (q.selected != null && q.answer === q.selected) {
      value++
    }
  })
  return value
})


const getCurrentQuestion = computed(() => {
  let question = questions.value[currentQuestion.value]
  question.index = currentQuestion.value
  return question
})

const SetAnswer = (e) => {
  questions.value[currentQuestion.value].selected = e.target.value
  e.target.value = null
}

const NextQuestion = () => {
  if (currentQuestion.value < questions.value.length - 1) {
    currentQuestion.value++
    return
  }
  popUpJustifmain.value=false
  quizCompleted.value = true
  getCurrentQuestion.selected = false
}
</script>

<template>
  <Header/>
  <main class="app">
    <h1>{{ t('quizz.title') }}</h1>

    <section class="quiz" v-if="!quizCompleted">
      <div class="quiz-info">
        <span class="question">{{ getCurrentQuestion.question }}</span>
        <span class="score">{{ t('quizz.score') }} {{ score }}/{{ questions.length }}</span>
      </div>

      <div class="options">
        <label
            v-for="(option, index) in getCurrentQuestion.options"
            :for="'option' + index"
            :class="`option ${
						getCurrentQuestion.selected === index
							? index === getCurrentQuestion.answer
								? 'correct'
								: 'wrong'
							: ''
					} ${
						getCurrentQuestion.selected != null &&
						index !== getCurrentQuestion.selected
							? 'disabled'
							: ''
					}`">
          <input
              type="radio"
              :id="'option' + index"
              :name="getCurrentQuestion.index"
              :value="index"
              v-model="getCurrentQuestion.selected"
              :disabled="getCurrentQuestion.selected"
              @change="SetAnswer"
          />
          <span>{{ option }}</span>
        </label>
      </div>

      <button
          @click="NextQuestion"
          :disabled="!getCurrentQuestion.selected">
        {{
          getCurrentQuestion.index === questions.length - 1
              ? t('quizz.nextQuestionOptions.end')
              : getCurrentQuestion.selected == null
                  ? t('quizz.nextQuestionOptions.choose')
                  : t('quizz.nextQuestionOptions.next')
        }}
      </button>
    </section>



    <section v-else style="    text-align: center;">
      <h2>{{ t('quizz.end.congrats') }}</h2>
      <p> {{ t('quizz.end.stats', {score: score, questionsLength: questions.length}) }}</p>
<!--      <a href="https://www.capitaine-carbone.fr/je-minforme/le-blog-du-capitaine/10-idees-recues-sur-le-rechauffement-climatique/">capitaine carbonne : réchauffement climatique</a>-->
<!--      <a href="https://www.ecoconso.be/fr/content/10-idees-recues-sur-le-climat-et-comment-y-repondre">ecoconso : 10 idées reçues sur le climat</a>-->
<!--      <a href="https://www.geo.fr/environnement/10-idees-recues-sur-le-changement-climatique-193813">geo : 10 idées reçues sur le changement climatique</a>-->
      <button style="margin-top: 25px">
        <router-link to="/" style="    text-decoration: none; color:white">{{ t('quizz.end.return') }}</router-link>
      </button>
    </section>

    <section id="popUpJustifmain" v-if="getCurrentQuestion.selected && !quizCompleted">
      <div class="popUpJustif">
        <h2>{{ t('quizz.precisions.goodAnswerWas') }}
          {{ questions[parseInt(currentQuestion)].options[questions[parseInt(currentQuestion)].answer] }}</h2>
        <h2>{{ t('quizz.precisions.explication') }}</h2>
        <p>{{ getCurrentQuestion.justificatif }}</p>
        <button
            @click="NextQuestion"
            :disabled="!getCurrentQuestion.selected">
          {{
            getCurrentQuestion.index === questions.length - 1
                ? t('quizz.nextQuestionOptions.end')
                : getCurrentQuestion.selected == null
                    ? t('quizz.nextQuestionOptions.choose')
                    : t('quizz.nextQuestionOptions.next')
          }}

        </button>
      </div>
    </section>

  </main>
  <Footer/>
</template>

<style>
* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #271c36;
  color: #FFF;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  height: 63vh;
}

h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.quiz {
  background-color: #382a4b;
  padding: 1rem;
  width: 100%;
  max-width: 640px;
}

.quiz-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.quiz-info .question {
  color: #8F8F8F;
  font-size: 1.25rem;
}

.quiz-info.score {
  color: #FFF;
  font-size: 1.25rem;
}

.options {
  margin-bottom: 1rem;
}

.option {
  padding: 1rem;
  display: block;
  background-color: #271c36;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.option:hover {
  background-color: #2d213f;
}

.option.correct {
  background-color: #2cce7d;
}

.option.wrong {
  background-color: #ff5a5f;
}

.option:last-of-type {
  margin-bottom: 0;
}

.option.disabled {
  opacity: 0.5;
}

.option input {
  display: none;
}

button {
  appearance: none;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  background-color: #2cce7d;
  color: #2d213f;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.2rem;
  border-radius: 0.5rem;
}

button:disabled {
  opacity: 0.5;
}

h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

p {
  color: #8F8F8F;
  font-size: 1.5rem;
  text-align: center;
}


.popUpJustif{
  position: absolute;
  z-index: 5;
  background-color: rebeccapurple;
  transform: translate(-50%, -64%);
  width: 75%;
  border-radius: 30px;
  text-align: center;
  min-height: 55%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
}

#resultat{
  display: none;
}

</style>