<template>
  <footer>
    <section class="footer-section">
      <article class="logo-section">
        <a href="/">
          <img src="/logo.svg" alt="logo" class="logo">
        </a>
      </article>
      <article class="carousel">
        <div class="text-carousel" :style="{ transform: `translateX(-${currentIndex * 100}%)` }">
          <div v-for="(participant, index) in participants" :key="index" class="carousel-item">
            <a :href="participant.url" target="_blank">{{ participant.name }}
              <br>
              <img class="photos" :src="participant.img" :alt="participant.name">
            </a>
          </div>
        </div>
      </article>
    </section>
    <section class="bottom">
      <h1>© 2023 - Nuit de l'info</h1>
    </section>
  </footer>
</template>

<script setup>
import {onMounted, ref} from "vue";

const currentIndex = ref(0);

const startCarousel = () => {
  setInterval(() => {
    currentIndex.value = (currentIndex.value + 1) % participants.length;
  }, 2500);
};

onMounted(() => {
  startCarousel();
});

const participants = [
  {name: 'Valentin Gelly', url: 'https://gitlab.com/Vavaaaahhhh', img: '/valentin.jpg'},
  {name: 'Mathieu Duquaire', url: 'https://gitlab.com/mathieu.duquaire', img: '/mathieu.jpg'},
  {name: 'Dylan Abbouize', url: 'https://gitlab.com/dylanabbouize', img: '/dylan.jpg'},
  {name: 'Alan Sapet', url: 'https://gitlab.com/alansapetind', img: '/alan.jpg'},
  {name: 'Natan Petit', url: 'https://gitlab.com/znatanbg', img: '/nathan.jpg'},
  {name: 'Antoine Berthillot ', url: 'https://gitlab.com/poloine', img: '/antoine.jpg'},
  {name: 'Yohann Chavanel', url: 'https://gitlab.com/yohann69', img: '/yohann.jpg '},
  {name: 'Théo graille', url: 'https://gitlab.com/lopi555', img: '/theo.jpg'},
  {name: 'Léo Deroin', url: 'https://gitlab.com/achedon12', img: '/leo.jpg'},
  {name: 'Thomas Grosjean', url: 'https://gitlab.com/labigot', img: '/thomas.jpg'},
  {name: 'Jordan Fuma', url: 'https://gitlab.com/jofu131', img: '/jordan.jpg'},
];
</script>

<style scoped>
footer {
  bottom: 0;
  margin-top: 20px;
  padding: 20px;
  color: white;
  background-image: url("/forest-landscape.jpg");
  background-size: cover;
  background-position: bottom;
  display: flex;
  flex-direction: column;
}

.footer-section {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}


.carousel {
  flex: 1;
  overflow: hidden;
}

.text-carousel {
  display: flex;
  transition: transform 0.8s ease-in 0.8s;
}

.carousel-item {
  min-width: 100%;
  text-align: center;
  padding: 20px;
  color: white;
  transition: opacity 0.8s ease-out;
  opacity: 1;
}

.carousel-item a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

.bottom {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 5px;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.photos {
  width: 200px;
  height: 250px;
}
</style>
