<template>
  <header>
    <div class="logo-section">
      <a href="/">
        <img src="/logo.svg" alt="logo" class="logo">
      </a>
    </div>
    <nav>
      <ul>
        <li><a href="/">{{$t('header.home')}}</a></li>
        <li>
          <a href="/about">{{$t('header.ecology')}}</a>
          <ul class="submenu">
            <li><a href="/earth">{{$t('header.earth')}}</a></li>
            <li><a href="/particles">{{$t('header.particle')}}</a></li>
          </ul>
        </li>
        <li><a href="/cauchemar">{{$t('header.nightmare')}}</a></li>
        <li><a href="/chat-box">{{$t('header.chatbox')}}</a></li>
        <li><a href="/about">{{$t('header.about')}}</a></li>
        <li><a href="/contact">{{$t('header.contact')}}</a></li>
      </ul>
    </nav>
  </header>
</template>

<script setup>

</script>

<style scoped>

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-image: url("/forest-landscape.jpg");
  background-size: cover;
  background-position: top;
  color: white;
}

.logo-section {
  margin-right: 20px;
}

.logo {
  width: 100px;
  height: 100px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

nav a:hover {
  text-decoration: underline;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

nav li:hover .submenu {
  display: block;
}

.submenu li {
  padding: 10px;
}

.submenu a {
  color: #333;
}

</style>