<template>
  <section :class="{ 'text-box-left': position === 'left', 'text-box-right': position === 'right' }">
    <div class="text-box-content" :style="{ backgroundColor, color: textColor, width: width }">
      <h2>{{ title }}</h2>
      <p>{{ text }}</p>
      <a class="text-box-button" v-if="!!buttonUrl" :href="buttonUrl">{{ buttonText }}</a>
    </div>
  </section>
</template>

<script setup>
import {defineProps} from 'vue';

const props = defineProps(['title', 'text', 'position', 'background-color', 'text-color', 'width', 'buttonUrl', 'buttonText']);
</script>

<style scoped>
.text-box-left {
  text-align: left;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.text-box-right {
  text-align: right;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.text-box-content {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 0;
}

.text-box-button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  align-self: center;
  width: 90%;
  text-align: center;
}
</style>
