<template>
  <div class="conversation-bubble" v-show="showBubble">
    <p>{{ formattedMessage }}</p>
  </div>
</template>

<script setup>
import {ref, watch, onMounted, defineProps} from 'vue';

const props = defineProps(['text']);

const showBubble = ref(false);
let originalMessage = props.text;
let words = originalMessage.split(' ');
let formattedMessage = '';

watch(() => props.text, (newVal) => {
  originalMessage = newVal;
  words = originalMessage.split(' ');
  animateText();
});

const animateText = () => {
  showBubble.value = false;
  formattedMessage = '';

  words.forEach((word, index) => {
    setTimeout(() => {
      formattedMessage += word + ' ';
      if (index === words.length - 1) {
        showBubble.value = true;
      }
    }, index * 500);
  });
};

onMounted(() => {
  animateText();
});
</script>

<style scoped>
.conversation-bubble {
  position: absolute;
  top: 200px;
  right: 50px;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: flex-end;
  animation: slideIn 0.5s ease-out;
  width: 300px;
  height: auto;
}

.conversation-bubble p {
  width: 100%;
  margin: 0;
  word-spacing: 10px;
  overflow: hidden;
  word-break: break-word;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@media (max-width: 1400px) {
  .conversation-bubble {
    top: 20px;
  }
}

.conversation-bubble p {
  width: 100%;
  margin: 0;
  word-spacing: 10px;
  overflow: hidden;
  word-break: break-word;
}
</style>
